body {
    color: white;
    background-color: rgb(95, 186, 38);
    background-image: url(../Kuvat/milky-way-starry-sky-night-sky-star-956981.jpeg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-size: 20px;
 
}

.btn { 
    background-color: red; 
}
#nappi { font-size: 24px; }